@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Reenie+Beanie&family=Rubik+Microbe&display=swap");

.App {
  font-family: "Dancing Script", cursive;
  text-align: center;
}

body {
  background: linear-gradient(#608666, #22e65c);
}

input {
  padding: 0.5rem;
  border-radius: 4px;
  outline: none;
}
